menu "Application Configuration"

    config WAKEUP_PERIOD_MINUTES
        int "Wake-up period [minutes]"
        range 1 60
        default 10
        help
            Time interval between wake-ups of the device.

endmenu