menu "Wi-Fi Configuration"

    config WIFI_MAX_RETRY_ATTEMPTS
        int "Maximum connection retry attempts"
        default 3
        range 0 255

    menu "Default WiFi Configuration"
        config WIFI_SSID
            string "SSID"

        config WIFI_PASSWORD
            string "Password"
    endmenu

endmenu